.project__wrapper {
    --line-thickness: 2px;
    --line-color: var(--secondary-color);

    border-color: var(--secondary-color);
    position: relative;

    /* &::before,
    &::after {
        position: absolute;
        content: '';
        background-color: var(--secondary-color);
        z-index: 1;
    } */

    &::after {
        height: 100%;
        width: var(--line-thickness);
        left: 50%;
    }


    &::before {
        height: var(--line-thickness);
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
    }

    .project-card {
        .project-image {
            transition: all .3s ease-in-out;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-bottom: var(--line-thickness) solid var(--secondary-color);
        }

        &:nth-child(2n+1) {
            border-right: var(--line-thickness) solid var(--secondary-color);
        }

        .project-btns {

            /* border: 1px solid blue; */
            .view {
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }

            .like {
                /* border: 1px solid red; */

                scale: .8;
                width: 97.5px;
                height: 78px;
                background-image: url('../../../public/Group\ 62.png');
                background-position: left;


                &.active {
                    animation: heart-bursts .5s steps(17) forwards;
                }
            }
        }


    }
}

@keyframes heart-bursts {
    to {
        background-position: right;
    }
}

@media screen and (max-width: 767px) {
    .projects-container {
        h1 {
            img {
                top: .15rem;
                left: .79rem;
            }
        }
    }
    .project__wrapper {
        --line-thickness: 0px;

        .project-card {
            border-bottom: 1px solid var(--secondary-color) !important;

            &:last-of-type {
                border: none !important;
            }

            .project-btns {
                .like {
                    margin-right: -1.5rem;
                    scale: .5;
                }
            }
        }
    }
}