.about__content {
    height: 85svh;

    .about__text {
        p {
            line-height: 1.7;
        }
    }

    .about__img {
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

@media screen and (max-width: 640px) {
    .about__content {
        height: 90svh;
        .about__img {
            height: 40svh;
            /* border: 1px solid red; */
            img {
                height: 80%;
                &:first-of-type {
                    height: 75%;
                }
                &:nth-child(2) {
                    height: 85%;
                }
                &:last-of-type {
                    height: 80%;
                }
                /* display: none; */
            }
        }
    }
}

.about__background {
    border-color: var(--secondary-color);

    .section-item {
        border-color: inherit;

        .section-title {
            border-color: inherit;
        }

        .section-description {
            p {
                line-height: 1.7;
            }

            .description-item {
                .title {
                    font-weight: bold;
                }

                .details {
                    opacity: .39;
                }
            }
        }
    }
}