.work {
    section {
        position: relative;
        width: 65%;
        margin: auto;

        /* border: 1px solid red; */
        &::after {
            position: absolute;
            content: '';
            width: 35%;
            height: 3px;
            bottom: 0;
            background-color: var(--accent-purple);
            transform: translateX(-50%);
        }

        .section-content {
            /* font-size: 16px; */
            line-height: 2;

            p {
                span {
                    color: var(--accent-purple);
                    font-weight: bold;
                }
            }

            .bar-graph {
                .bar {
                    .bar__box {
                        border: 1.5px solid var(--secondary-color);
                    }

                    &:nth-child(1) {
                        .bar__box {
                            border-right: none;
                            padding-bottom: 8rem;
                        }
                    }

                    &:nth-child(2) {
                        .bar__box {
                            padding-bottom: 5rem;
                        }
                    }

                    &:nth-child(3) {
                        .bar__box {
                            border-left: none;
                            padding-bottom: 12rem;
                        }
                    }

                    &:nth-child(4) {
                        .bar__box {
                            border-left: none;
                            padding-bottom: 6rem;

                        }
                    }

                }
            }
        }

        .thanks {
            color: var(--accent-purple);
        }
    }
}

@media screen and (1024px >=width >=640px) {
    .work {
        section {
            width: 80%;

            .section-content {
                .avatar {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .work {
        .project-header-img {
            height: 30svh;
            object-fit: cover;
        }

        section {
            width: 90%;

            &::after {
                height: 2px;
            }

            .section-content {
                line-height: 1.5;


                .avatar {
                    width: 50%;
                }

                .bar-graph {
                    .bar {
                        &:nth-child(1) {
                            .bar__box {
                                padding-bottom: 3rem;
                            }
                        }

                        &:nth-child(2) {
                            .bar__box {
                                padding-bottom: 1rem;
                            }
                        }

                        &:nth-child(3) {
                            .bar__box {

                                padding-bottom: 6rem;
                            }
                        }

                        &:nth-child(4) {
                            .bar__box {

                                padding-bottom: 3rem;

                            }
                        }

                    }
                }
            }
        }
    }
}