@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #EEF0EB;
  --secondary-color: #363636;
  --accent-blue: #BCCBEA;
  --accent-pink: #C08FCF;
  --accent-pink-2: #E3CAEB;
  --accent-purple: #714C8F;
  --accent-green: #BECFBC;
  --accent-tan: #E7DCC8;
}

:root:has(.about) {
  --primary-color: #363636;
  --secondary-color: #EEF0EB;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

@layer utilities {
  
}
