@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #EEF0EB;
  --secondary-color: #363636;
  --accent-blue: #BCCBEA;
  --accent-pink: #C08FCF;
  --accent-pink-2: #E3CAEB;
  --accent-purple: #714C8F;
  --accent-green: #BECFBC;
  --accent-tan: #E7DCC8;
}

[data-theme="dark"] {
  --primary-color: #363636;
  --secondary-color: #EEF0EB;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--accent-pink);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
  border-radius: 10px;
}


@media (prefers-color-scheme: dark) {
}

body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

@layer utilities {
  
}
